/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX      DIV QUIZ CONTAINER   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#quizContainer {
  /* grid-template-rows: repeat(24, minmax(0, 1fr)); */
  flex-direction: column;
  padding: 3rem 0 2rem 0;
  background-color: powderblue;
  font-family: 'Montserrat', sans-serif;
  background-color: deepskyblue;
}

#divImage {
  margin-top: 2rem;
  border: 2px double oldlace;
  width: 28em;
  height: 16em;
  object-fit: cover;
}

#imgQuestion {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



/*  CSS ANIMATION THAT MAKES THE BACKGROUND PIC OPACITY GROWS */
@keyframes shrink_bar{
  100%{
    background: red;
    width: 10%;
  }
}



#score-bar{
  /* grid-row: 10; */
  animation: shrink_bar 10s linear forwards;
  justify-self: start;
  margin-left: 0.7em;
  background: orange;
  width: 85%;
  height: 1.7rem;
  border-radius: 8px;
}

.score-bar-paused{
  animation-play-state: paused;
}


#question{
  /* grid-row: 12; */
  color: #042b4c;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.5rem 0.3rem;
  text-align: center;
  padding: 0.8rem;
}

#ordinal {
  background-color: steelblue;
  color: rgb(229,231,233);
  font-family: monospace;
  padding: 0.3rem;
  border-radius: 5%;
}

.answers {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.answerOption {
  color: rgb(229,231,233);
  background-color: #f74954;
  font-family: inherit;
  text-align: center;
  vertical-align: middle;
  padding: .75rem .75rem;
  font-size: 1.7rem;
  border-radius: .50rem;
  width: 26rem;
  height: 4rem;
}

.answerOption:nth-child(1),
.answerOption:nth-child(2){
  margin-bottom: 2.3rem;
}


/* THIS ANIMATION MAKES THE OPTIONS BUTTONS TO APPEAR GRADUALLY */
.answerOption  {
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.answerOption[data-id="a"] {
  animation-delay: .25s;
}

.answerOption[data-id="b"]  {
  animation-delay: 0.5s;
}

.answerOption[data-id="c"]  {
  animation-delay: 0.75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
/* THIS ANIMATION MAKES THE OPTIONS BUTTONS TO APPEAR GRADUALLY */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX      DIV QUIZ CONTAINER   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX      DIV CHECK ANSWERS   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#checkAnswer {
  grid-template-rows: repeat(12, minmax(0,1fr));
}

#checkAnswer.wrong {
  background: #cd25cec2;
}

#checkAnswer.correct{
  background: rgb(9,121,33);
}

/* THIS ANIMATION SCALES THE EMOJI FROM SMALL TO NORMAL SIZE */
@keyframes emojiAnimation{
  0%{
    transform: scale(0.2)
  }
}
/* THIS ANIMATION SCALES THE EMOJI FROM SMALL TO NORMAL SIZE */


#emoji{
  grid-row: 2 / 8;
  animation: emojiAnimation 0.3s;
  display: block;
  text-align: center;
  font-size: 25rem;
}


#score{
  grid-row: 9 / 11;
  background-color: crimson;
  box-shadow: -5px 5px -5px 0px #444823;
  border-radius: .50rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 3.5rem;
  color: rgb(229,231,233);
  width: 25rem;
  height: 12rem;
  line-height: 5rem;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX      DIV CHECK ANSWERS   XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY ORIENTATION LANDSCAPE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (orientation: landscape) {
  
  .answers{
    flex-direction: row;
  }

    .answerOption:nth-child(1), .answerOption:nth-child(2) {
      margin-right: 2rem;
    }

  .answerOption {
      font-size: 1.5rem;
      width: 16rem;
      height: 5rem;
    }

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY ORIENTATION LANDSCAPE >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 375px) and (min-height: 812px) {
    
  /* QUIZCONTAINER DIV  */
    #divImage {  
      width: 35rem;
      height: 27rem
    }

    #question {
      font-size: 2.1rem;
      line-height: 3rem;
    }

    #score-bar {
      margin: 3rem 0 3rem 3rem;
    }

    .answerOption {
      width: 30rem;
      height: 7rem;
      font-size: 2.5rem;
    }

    /* CHECKANSWER DIV */
    #emoji {
      font-size: 35rem;
    }

    #score {
      width: 28rem;
      height: 15rem;
      line-height: 6rem;
    }

}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY  MIN-WIDTH: 375PX AND MIN-HEIGHT: 812PX <<<<<<<<<><<<<<<<<<<<( IPHONE X )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX   <<<<<<<<<<<<<<<<<<<><<<<<<<<( IPAD )<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 768px) and (min-height: 1024px){
   /* QUIZCONTAINER DIV  */
   #divImage { 
    grid-row: 2 / 12;
    height: 45rem;
    width: 70rem;
  }

  #question {
    grid-row: 15;
    font-size: 2.6rem;
  }

  #score-bar {
    grid-row: 13;
  }

  .answers {
    grid-row: 20;
  }


  /* CHECKANSWER DIV */
  #emoji {
    font-size: 50rem;
  }

  #score {
    width: 35rem;
    height: 20rem;
    line-height: 7rem;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> /  MEDIA QUERY MIN-WIDTH: 768PX AND MIN-HEIGHT: 1024PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<( IPAD )<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 600PX <<<<<<<<<<<<<<<<<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 1280px) and (min-height: 600px){
  /* QUIZCONTAINER DIV  */
  #divImage {
    width: 55rem;
    height: 38rem;
    grid-row: 3 / 12;
  }

  #question {
    grid-row: 16;
    line-height: 4rem;
    font-size: 3rem;
    padding: 0.5rem 0.85rem;
  }

  #score-bar {
    grid-row: 14;
    margin-left: 3.7em;
  }

  .answers{
    grid-row: 21;
    flex-direction: row;
  }

  .answerOption {
    width: 30rem;
    height: 9rem;
    font-size: 3rem;
  }

  .answerOption:nth-child(1), .answerOption:nth-child(2) {
    margin-bottom: 0;
    margin-right: 6rem;
  }

    /* CHECKANSWER DIV */
    #emoji {
      font-size: 30rem;
    }
  
    #score {
      width: 30rem;
      height: 18rem;
      line-height: 7rem;
    }
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 1280PX AND MIN-HEIGHT: 600PX <<<<<<<<<<<<<<<<<<( LAPTOP MDPI SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 1440PX AND MIN-HEIGHT: 900PX <<<<<<<<<<<<<<<<<<( LAPTOP HiDPI SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/
@media (min-width: 1440px) and (min-height: 900px){
      /* CHECKANSWER DIV */
      #emoji {
        font-size: 40rem;
      }
    
      #score {
        width: 35rem;
        height: 20rem;
        line-height: 7rem;
      }
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>> /MEDIA QUERY MIN-WIDTH: 1440PX AND MIN-HEIGHT: 900PX <<<<<<<<<<<<<<<<<<( LAPTOP HiDPI SCREEN)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>><<<<<<<<<<<<*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MIN-WIDTH: 2300PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 2300px) {    
  
  #divImage {
    width: 60%;
    height: 70rem;
  }

  #score-bar {
    height: 2.5rem;
  }

  #question {
    font-size: 4rem;
  }

  .answerOption {
    width: 43rem;
    height: 13rem;
    font-size: 5rem;
  }

  .answerOption:nth-child(1), .answerOption:nth-child(2) {
    margin-right: 12rem;
  }

    /* CHECKANSWER DIV */
  #emoji {
    font-size: 70rem;
  }
  
  #score {
      width: 60rem;
      height: 30rem;
      line-height: 10rem;
      font-size: 7.5rem;
  }

}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 2300PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/