


/* GAME PRESENTATION + START BUTTON */

#start {
  height: 100vh;
  padding: 1rem 0rem 0rem 0rem;
  background-image: url('../img/london_map2_320X720.jpg');
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#start h1{
  background: linear-gradient(#03A9F4, transparent 132%);
  width: 77%;
  font-size: 27px;
  font-family: 'Rye', cursive;
  color: #f8f9fa;
  margin-top: 40px;
  padding: 30px 20px;
  border-radius: 5%;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

}

#title{
  font-size: 30px;
  margin-top: 5rem;

}


/* //Start button animation */
#start button{
    display: block;
    margin-top: 200px;
    margin-bottom: 150px;;
    padding: 42px 0;
    width: 120px;
    height: 120px;
    background-color: #ff22d8;
    -webkit-box-shadow: 0 4px 6px 1px rgba(0,0,0,0.3), 0 -2px 1px 1px rgba(0,0,0,0.1) inset, 0 2px 1px 1px rgba(255,255,255,0.2) inset;
            box-shadow: 0 4px 6px 1px rgba(0,0,0,0.3), 0 -2px 1px 1px rgba(0,0,0,0.1) inset, 0 2px 1px 1px rgba(255,255,255,0.2) inset;
    border: none;
    border-radius: 60px;
    color: #fff;
    font: normal 24px sans-serif;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;

}

@keyframes flash {
  0% {
    box-shadow: 0 0 10px 10px #0e9c76,
                0 0 30px 30px #0e9c76 inset;
  }
}

#start button {
  animation: flash 2s infinite linear;
}

/* //\\Start button animation */

#email h1{
  display: block;
  font-size: 18px;
  padding: 15px 20px;
}


/* GAME PRESENTATION + START BUTTON */


/* SLIDES */

#quiz-container {

    padding: 4rem 1rem 9rem 1rem;
    background-color: powderblue;

}

#ton {
  color: #fff;
  background-color: steelblue;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 2;
  border-radius: .50rem;
  width: 13rem;
  transition: all .15s ease-in-out;

}



.background-pic{
background-color: #f8f9fa;
border-style: double;
margin: auto;
width: 95%;
height: 172px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;

}


.question{
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}


.answers {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.answers label{
  display: flex;
  margin-bottom: 20px;
}




.slide{
  display: none;
  margin-top: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}


.active-slide{
  display: block;
  opacity: 1;
  z-index: 2;

}


.quiz-container{

  height: 200px;
  margin-top: 40px;
}

/* SLIDES */

/* EMOJI DIV */

#emoji {
  max-width: none;
  font-size: 270px;
  padding: 12rem 2rem;
}

/* /EMOJI DIV */

/* DISPLAY RESULT */

#queenDiv {
  background-color: #3595dc;
  padding: 1rem 1rem 8rem 1rem;

}

#queen{
  background-color: chocolate;
  border-style: inset;
  border-color: cadetblue;
  margin: auto;
  width: 95%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  margin-bottom: 30px;
}

#score{
  border-style: dashed;
  border-color: cyan;
}

#queenDiv h1 {
  font-family: 'MedievalSharp', cursive;
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  padding: 1rem 1rem;

}

#award {
  width: 30%;
  margin-top: 40px;
  border-radius: 50%;
}

/* /DISPLAY RESULT */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 375px) {

/* GAME PRESENTATION + START BUTTON */

  #title {
    font-size: 30px;
    margin-top: 45px;
  }

  /* #start button{
    margin-bottom: 270px;
  } */

/* /GAME PRESENTATION + START BUTTON */


  /* SLIDES */
  .background-pic{
    height: 202px;
  }
  /* /SLIDES */

  /* DISPLAY RESULT */

  #score{
    width: 80%;
  }

  #award {
    width: 25%;
    margin-top: 50px;
    border-radius: 50%;
  }

  /* /DISPLAY RESULT */
}


  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 375PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>IPHONE6/7/8>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEGHT 667PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 375px) and (min-height: 667px){

  /* GAME PRESENTATION + START BUTTON */

  /* #start {
    padding: 1rem 0 0rem 0;
    } */

  /* #start button {
    margin-top: 110px;
    margin-bottom: 220px;
  } */

  /* GAME PRESENTATION + START BUTTON */


  /* SLIDES */

  #quiz-container {
    padding: 2rem 1rem 2rem 1rem;
  }

  /* SLIDES */

}
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>/IPHONE6/7/8>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEGHT 667PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>IPHONE X>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEGHT 812PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 375px) and (min-height: 812px){

  /* GAME PRESENTATION + START BUTTON */

  #start button {
    margin-top: 170px;
    margin-bottom: 300px;
  }

  /* GAME PRESENTATION + START BUTTON */

}
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>/IPHONE X>>>>>>>> MEDIA QUERY MIN-WIDTH: 375PX AND MIN-HEGHT 812PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<


  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>IPHONE6/7/8 PLUS>>>>>>>> MEDIA QUERY (min-device-width : 414px) AND (max-device-width : 736px)<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

  @media only screen
  and (min-device-width : 414px)
  and (max-device-width : 736px) { /* STYLES GO HERE */}

  /* GAME PRESENTATION + START BUTTON */

  /* #start {
    padding: 1rem 0rem 0rem 0rem;
    } */

  #start h1{

    /* width: 75%;
    font-size: 25px; */
    /* margin-top: 150px; */
  }

  /* #start button {
    font: normal 18px sans-serif;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100px;
    height: 100px;
    border-radius: 200px;
  } */

  #email h1{

    font-size: 15px;
  }

  /* GAME PRESENTATION + START BUTTON */

}
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>/IPHONE6/7/8 PLUS>>>>>>>> MEDIA QUERY MIN-WIDTH: 2208PX AND MIN-HEGHT 736PX<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/







  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 425PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
  /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 425px) {
  /* SLIDES */
    .background-pic{
      height: 232px;
    }

  /* /SLIDES */

  /* DISPLAY RESULT */

  #queenDiv {
    padding: 1rem 1rem 8rem 1rem;
  }

    /* /DISPLAY RESULT */
}




    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 425PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MIN-WIDTH: 768PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 768px) {

  /* GAME PRESENTATION + START BUTTON */

  #title {
      padding: 30px;
      width: 85%;
      margin-top: 60px;
      font-size: 79px;

  }

  /* #start button{
       margin-top: 5rem;
  } */

  /* /GAME PRESENTATION + START BUTTON */

  /* SLIDES */


  #quiz-container {
      padding: 1rem 1rem 8rem 1rem;
  }

  .background-pic{
      height: 412px;
      width: 90%;
    }

  .question{
      margin-top: 70px;
    }

  .answers {
    flex-direction: row;
    justify-content: space-evenly;
    }

  #ton{
    width: 11rem;
  }
  /* /SLIDES */

  /* EMOJI */
  #emoji {
      font-size: 330px;
  }

  #emoji {
    font-size: 330px;
    padding: 9rem 2rem;
  }

  /* /EMOJI */

  /* DISPLAY RESULT */

  #queenDiv {
    padding: 1rem 1rem 4rem 1rem;
  }

  #queen{
    width: 82%;
    height: 318px;
  }

  #queenDiv h1 {
    margin-top: 40px;
  }

  #award {
    width: 13%;
    margin-top: 40px;
  }

  #score{
    width: 37%;
  }

}

  /* /DISPLAY RESULT */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 768PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MIN-WIDTH: 1024PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 1024px) {


  /* GAME PRESENTATION + START BUTTON */

  /* #start{
    padding: 2rem 0rem;
  } */

  #title {
    padding: 75px;
    font-size: 100px;
    }

/* /GAME PRESENTATION + START BUTTON */

     /* SLIDES*/

     .background-pic {
         height: 430px;
         width: 70%;
     }

    /* /SLIDES*/


    /* EMOJI */

  #emoji {
      font-size: 400px;
  }

  /* /EMOJI */

  /* DISPLAY RESULT */

  #queen {
      width: 78%;
      height: 375px;
      margin-top: 50px;
    }

  #award {
      width: 10%;
      margin-top: 10px;
  }

  #queenDiv h1{
    width: 70%;
    margin-top: 30px;
  }

  /* /DISPLAY RESULT */

}





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 1024PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MIN-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 1440px) {

  /* GAME PRESENTATION + START BUTTON */
  #start{
    padding: 5rem 0rem;
  }

  #title {
  font-size: 125px;

   }

  #start button{
    margin-bottom: 300px;
  }

  /* /GAME PRESENTATION + START BUTTON */


     /* SLIDES*/

     #quiz-container {
       padding: 1rem 1rem 15rem 1rem;
     }

     .background-pic{
       height: 450px;
       width: 60%;
       margin-top: 65px;

       }

     /* /SLIDES*/

     /* EMOJI */

     #emoji {
       font-size: 450px;
       padding: 8rem 0rem;
     }

     /* /EMOJI */

     /* DISPLAY RESULT */

     #queenDiv {
    padding: 1rem 1rem 6rem 1rem;
    }

     #queen {
       width: 70%;
       margin-top: 50px;
       height: 425px;
     }

     #award {
         width: 8%;
     }

     #queenDiv h1{
      font-size: 25px;
      width: 70%;
      line-height: 40px;
     }

     /* /DISPLAY RESULT */






}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MIN-WIDTH: 2560PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 2560px) {

  /* GAME PRESENTATION + START BUTTON */

  #title {
    font-size: 260px;
    margin-top: 250px;
     }

  #start button{
    margin-top: 200px;
    font-size: 80px;
    width: 300px;
    height: 300px;
    border-radius: 170px;
  }

  #email h1 {
    font-size: 50px;
  }

  /* /GAME PRESENTATION + START BUTTON */

  /* SLIDES*/

  #quiz-container {
    padding: 10rem 1rem 10rem 1rem;
  }

  .background-pic {
    height: 920px;
    width: 59%;
  }

  .question {
      margin-top: 130px;
      font-size: 50px;
  }

  .answers {
    margin-top: 10rem;
  }

    #ton {

    padding: 25px 10px;
    font-size: 35px;
    width: 400px;
    }

  /* /SLIDES*/

  /* EMOJI */

  #emoji {
    font-size: 800px;
    padding: 21rem 0rem;
  }

  /* /EMOJI */

  /* DISPLAY RESULT */

  #queenDiv {
    padding: 1rem 1rem 7rem 1rem;
  }

  #queen {
      width: 75%;
      max-width: 2000px;
      height: 900px;
      margin-top: 110px;
  }

  #queenDiv h1 {
    font-size: 43px;
    margin-top: 70px;
    line-height: 75px;
  }

  #award {
    margin-top: 20px;
  }

  /* /DISPLAY RESULT */



}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MIN-WIDTH: 2560PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
