

/* GAME PRESENTATION + START BUTTON */

#start {

  background-image: url("../img/london_map2_320X720.jpg");
  height: 100vh;
  padding: 3rem 2rem;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

}

#start h1{
  background: linear-gradient(#03A9F4, transparent 132%);
  font-family: 'Rye', cursive;
  font-size: 30px;
  color: #f8f9fa;
  margin-top: 5rem;
  padding: 2rem 1rem;
  border-radius: 5%;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

}

#input_name  {
  margin-top: 11rem;
  background: linear-gradient(#03A9F4, transparent 132%);
  font-family: 'Rye', cursive;
  color: #f8f9fa;
  border-radius: 5%;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));

}

#input_name label{

  font-size: 15px;

}

#input_name input{
  margin: 0 auto;
  width: 170px;
  font-size: 12px;

}



/* //Start button animation */
#start button{
    margin-top: 10rem;
    padding: 42px 0;
    width: 120px;
    height: 120px;
    background-color: #ff22d8;
    -webkit-box-shadow: 0 4px 6px 1px rgba(0,0,0,0.3), 0 -2px 1px 1px rgba(0,0,0,0.1) inset, 0 2px 1px 1px rgba(255,255,255,0.2) inset;
            box-shadow: 0 4px 6px 1px rgba(0,0,0,0.3), 0 -2px 1px 1px rgba(0,0,0,0.1) inset, 0 2px 1px 1px rgba(255,255,255,0.2) inset;
    border: none;
    border-radius: 60px;
    color: #fff;
    font: normal 24px sans-serif;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;

}

@keyframes flash {
  0% {
    box-shadow: 0 0 10px 10px #0e9c76,
                0 0 30px 30px #0e9c76 inset;
  }
}

#start button {
  animation: flash 2s infinite linear;
}

/* //\\Start button animation */

/* GAME PRESENTATION + START BUTTON */


/* SLIDES */

#quiz-container {

    padding: 1rem 1rem 14rem 1rem;
    background-color: powderblue;

}

#ton {
  color: #fff;
  background-color: steelblue;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 2;
  border-radius: .50rem;
  width: 13rem;
  transition: all .15s ease-in-out;

}

#scoreBar {

  margin-top: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: .8rem;

}


.background-pic{
background-color: #f8f9fa;
border-style: double;
margin: auto;
width: 95%;
height: 172px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;

}


.question{
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}


.answers {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.answers label{
  display: flex;
  margin-bottom: 20px;
}




.slide{
  display: none;
  margin-top: 20px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}


.active-slide{
  display: block;
  opacity: 1;
  z-index: 2;

}


.quiz-container{

  height: 200px;
  margin-top: 40px;
}




/* SLIDES */



#emoji {

  font-size: 17rem;
  padding: 14rem 2rem;
}

/* DISPLAY RESULT */

#queenDiv {

}

#queenDiv h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  background-color: #3595dc;

}


/* #queen {
  height: 520px;
  margin-left: 27px;
  object-fit: contain;

} */

#medallion {
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
  border-style: inset;


}

#prize{
  background-color: #ff7800;
  padding: 12rem 0rem;
  background-size:  contain;
}




#prize p{
  border-style: outset;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  background-color: #3595dc;
  padding: 20px;
  color: white;


}



/* DISPLAY RESULT */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MAX-WIDTH: 576PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MAX-WIDTH: 768PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 768px) {



/* MAKES THE BIGGER THE HEIGHT BACKGROUND PIC */
  .background-pic{

    height: 350px;


  }


/* GAME PRESENTATION + START BUTTON */
  #start h1 {

    padding: 30px;
    font-size: 79px;

     }
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MAX-WIDTH: 768PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MAX-WIDTH: 1024PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media (min-width: 1024px) {



/* MAKES THE BIGGER THE HEIGHT BACKGROUND PIC */
  .background-pic{

  height: 550px;


  }




    #buttons{

      margin-top: 50px;
      margin-bottom: 100px;

    }



    #start h1 {

      padding: 75px;
      font-size: 60px;
      margin: 0 140px;

       }


}





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MAX-WIDTH: 1024PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MAX-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 1440px) {


  #start h1 {


    font-size: 125px;

     }







}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MAX-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  MEDIA QUERY MAX-WIDTH: 2560PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 2560px) {


  #start h1 {


    font-size: 260px;
    margin-top: 250px;

     }

  #start button{
    margin-top: 200px;
    font-size: 7rem;
  }







}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> / MEDIA QUERY MAX-WIDTH: 2560PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
