:root {
  background-color: #ecf5ff;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}

/* * UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > * {
  width: 100%;
}

.hidden {
  display: none;
}
