$primary-color: rgb(205, 7, 46); //RED

//TEXT-COLOR

$primary-text-color: rgba(0, 0, 0, 1); //BLACK
$secondary-text-color: rgba(255, 255, 255, 1); //WHITE
$final-score-text: rgba(169, 4, 4, 1);

// BACKGROUND COLOURS

$primary-bg-color: rgb(29, 187, 240); // BLUE SKY
$secondary-bg-color: rgba(255, 255, 255, 0.5); //WHITE SEMIOPAQUE
$black-bg-color: rgba(0, 0, 0, 1); //BLACK
$final-score-bg: rgba(213, 235, 68, 1);
$queen-says-bg: rgba(186, 169, 247, 1);

$bg-color-wrong-answer: rgba(148, 25, 167, 1); // PURPLE
$bg-color-right-answer: rgba(18, 193, 67, 1); // GREEN

// BUTTONS

$primary-btn-bg: rgba(114, 12, 148, 1);
$secondary-btn-bg: rgba(255, 42, 61, 1); // SCORE BACKGROUND TOO

$primary-btn-text: rgba(88, 199, 249, 1);
$secondary-btn-text: rgba(36, 0, 142, 1);
